SERVER_ADDRESS="127.0.0.1:8080"
DATABASE_DRIVER="sqlite3"
DATABASE_DSN="./database/data.db"

# Use "go run cmd/console/main.go secret:generate" to generate a secure secret
SESSION_KEY="acOw8R661KWF5/vQE/NXS9BofvKtGHVqLUCrbSwvT7XtPoInNI/0ubVhxlxVrTCBIfCMwotnJPt/ElcZivXL"

# Goose Migrations
GOOSE_DRIVER="sqlite3"
GOOSE_DBSTRING="${DATABASE_DSN}"
GOOSE_MIGRATION_DIR="./database/migrations"

# SMTP
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USERNAME="username"
SMTP_PASSWORD="password"
