<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
    </head>
    <body>
        <aside>
            {{ range $index, $message := $.Session.Flashes "flash_success" }}
                <p>{{ $message }}</p>
            {{ end }}

            {{ range $index, $message := $.Session.Flashes "flash_error" }}
                <p>{{ $message }}</p>
            {{ end }}
        </aside>

        <header></header>

        <main>{{ block "main" . }}{{ end }}</main>

        <footer></footer>
    </body>
</html>
